# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Build output
dist/
build/
src/dataTreating/store/temp/
src/store/
# src/DB/


# System files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-workspace

# Coverage reports
coverage/

# Other
*.tgz